<%- include partials/header.ejs %>
<link rel="stylesheet" href="stylesheets/main.css">
</head>

<body>
	<p><%=title%></p>
	<p><%=url%></p>
	<p><%=summary%></p>
	<p><%=tags%></p>
</body>

<%- include partials/footer.ejs %>