<%- include partials/header.ejs %>
<link rel="stylesheet" href="stylesheets/new.css">

<div class="container">
		<% global.document = new JSDOM(html).window.document; %>
	<article class="p-5 my-5 text-justify context">
		<% const sentiment = new Sentiment() %>
		<!-- Title of the article. -->
		<h2 class="h1 text-left"><%=article.title%></h2>

		<!-- Time article was published. -->
		<p class="lead"><%=article.publishedTime%></p>

		<!-- Author of article -->
		<p class="lead"><%=article.author%></p>

		<!-- Source Website -->
		<p class="lead"><%=article.source%></p>

		<!-- Returns and displays an array of sentences run through Compromise.js -->
		<%	const textArray = (nlp(article.content).sentences().data()).map((index) => { %>
		<% 		return index.text %>
		<%		}); %>

		<!-- Article arranged by content. -->
		<% textArray.forEach((sentence) => { %>
			<p class="paragraph-styling lead"><%=sentence%></p>
			<% const sentimentScoreSentence = sentiment.analyze(sentence); %>
			<% const wordsArray = sentimentScoreSentence.words; %>
			<% wordsArray.forEach((word) => { %>
				
				<% let str = "<mark class='highlight'>" +word+ "</mark>" %>
<% document.body %>

				<p class="lead"><%= word %></p>
				<% }); %>
				<% const scores = sentimentScoreSentence.score %>
				<p class="lead"><%= scores %></p>
			<% }); %>

	<span>
		<!-- URL of article. -->
		Link to original article: 
		<a href="<%=article.url%>"><%= article.url%></a>
	</span>
	</article>
</div>
<footer>Omar</footer>
	</body>
	<script>
	const footer = document.body.getElementsByTagName('footer');
	footer[0].innerHTML = '<mark>Omar</mark>';
	</script>
</html>

<%- include partials/footer.ejs %>