<%- include partials/header.ejs %>
		<article>
			<% const sentiment = new Sentiment() %>
			<!-- Title of the article. -->
			<h2><%=article.title%></h2>
	
			<!-- Time article was published. -->
			<p><%=article.publishedTime%></p>
	
			<!-- Author of article -->
			<p><%=article.author%></p>
	
			<!-- Source Website -->
			<p><%=article.source%></p>
	
			<!-- Returns and displays an array of sentences run through Compromise.js -->
			<%	const textArray = (nlp(article.content).sentences().data()).map((index) => { %>
			<% 		return index.text %>
			<%		}); %>
	
			<!-- Article arranged by content. -->
			<% textArray.forEach((sentence) => { %>
				<p><%=sentence%></p>
				<% const result = sentiment.analyze(sentence); %>
				<% console.log(result); %>
				<% }); %>

	
			<!-- URL of article. -->
			<a href="<%=article.url%>"><%= article.url%></a>
		</article>
	</body>
</html>
<%- include partials/footer.ejs %>