<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Page Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/main.css">
		<!-- <script src="main.js"></script> -->
	</head>
	<body>

		<!-- Title of the article. -->
		<h2><%=article.title%></h2>

		<!-- Time article was published. -->
		<p><%=article.publishedTime%></p>

		<!-- Author of article -->
		<p><%=article.author%></p>

		<!-- Source Website -->
		<p><%=article.source%></p>

		<!-- Some code -->
		<%	const textArray = (nlp(article.content).sentences().data()).map((index) => { %>
		<% 		return index.text %>
		<%		}); %>

		<!-- Article arraigened by contenet. -->
		<% textArray.forEach((sentence) => { %>
			<p><%=sentence%></p>
		<% }); %>

		<!-- URL of article. -->
		<a href="<%= article.url%>"><%= article.url%></a>

	</body>
</html>