<%- include partials/header.ejs %>
<link rel="stylesheet" href="stylesheets/new.css">

<div class="container">
		<% global.document = new JSDOM(html).window.document; %>
	<article class="p-5 my-5 text-justify context">
		<% const sentiment = new Sentiment() %>
		<!-- Title of the article. -->
		<h2 class="h1 text-left"><%=article.title%></h2>

		<!-- Time article was published. -->
		<p class="lead"><%=article.publishedTime%></p>

		<!-- Author of article -->
		<p class="lead"><%=article.author%></p>

		<!-- Source Website -->
		<p class="lead"><%=article.source%></p>

		<!-- Returns and displays an array of sentences run through Compromise.js -->
		<%	const textArray = (nlp(article.content).sentences().data()).map((index) => { %>
		<% 		return index.text %>
		<%		}); %>

		<!-- Article arranged by content. -->
		<% for (let i = 0; i < textArray.length; i++) { %>
			<% const sentimentScoreSentence = sentiment.analyze(textArray[i]); %>
			<% const wordsArray = sentimentScoreSentence.words; %>
			<% for (let j = 0; j < wordsArray.length; j++) { %>

				<p class="highlight-text">
					<% if (textArray[i].includes(wordsArray[j])) { %>

						 <%= textArray[i].replace(wordsArray[j], "<mark>" +wordsArray[j]+ "</mark>"); %>
						<% } %>
				</p>
				<p class="lead"><%= wordsArray[j] %></p>
				<% const scores = sentimentScoreSentence.score %>
				<p class="lead"><%= scores %></p>
				<% } %>
			<% } %>

	<span>
		<!-- URL of article. -->
		Link to original article: 
		<a href="<%=article.url%>"><%= article.url%></a>
	</span>
	</article>
</div>
<footer>Omar</footer>
	</body>
	<script >
	const sent = document.body.getElementsByClassName('highlight-text');
	for (let i = 0; i < sent.length; i++) {
		console.log(sent[i].innerHTML);
		sent[i].innerHTML = sent[i].innerHTML.split('&lt;mark&gt;').join("<mark class='highlight'>");
		sent[i].innerHTML = sent[i].innerHTML.split('&lt;/mark&gt;').join('</mark>');
	}
	
	// sent[0].innerHTML = '<mark>Omar</mark>';
	</script>
</html>

<%- include partials/footer.ejs %>